
root {
  background-color: white;

  font-size: 12px;
  font-family: 'Roboto Medium', sans-serif;
}

tabbed {
  background-color: white;
}

text, formatted, textarea, password {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 2px;
  /*margin: 2px;*/
  padding: 3px;

  color: black;
}

text:hover, formatted:hover, textarea:hover, password:hover {
  border-color: black;
}

text:focus, formatted:focus, textarea:focus, password:focus {
  margin: 1px;
  border: 2px dodgerblue;
}

button {
  margin: 2px;
  background-color: #a0a0a0;
  color: white;
  padding: 5px 8px;
  border-radius: 2px;
}

button:hover, button:focus:hover {
  background-color: #b6b6b6;
}

button:focus {
  margin: 0;
  border: 2px dodgerblue;
  background-color: #848484;
}

button:focus:hover:active {
  background-color: dodgerblue;
}

label {
  color: black;
}

combo-box {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 2px;
  padding: 3px;
  margin: 2px;

  color: black;
}

combo-box:hover {
  border: 1px black;
}

combo-box:focus {
  border: 2px dodgerblue;
  margin: 1px;
}

combo-box > button {
  background-color: dodgerblue;
  border-radius: 2px;
}

combo-box-popup -flr-renderer > label {
  color: black;
  padding: 5px;
}

combo-box-popup -flr-renderer > label:active {
  background-color: dodgerblue;
  color: white;
}

combo-box-popup {
  background-color: #efefef;
  padding: 2px;
  border: 1px #b6b6b6;
}

::selection {
  background-color: dodgerblue;
  color: white;
}

checkbox:active {
  background-color: transparent;
  border: 1px dodgerblue;
}

menubar {
  background-color: #0e0e0e33;
}

menuitem, menu {
  background-color: #e0e0e0;
  padding: 2px 3px;
}

menuitem:active, menu:active {
  background-color: #444444;
  color: white;
}
