
root, tooltip {
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
}

tabbed {
  background-color: white;
}

text, textarea {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 2px;
  margin: 2px;
  padding: 3px;

  color: black;
}

text:hover, textarea:hover {
  border-color: black;
}

text:focus, textarea:focus {
  margin: 1px;
  border: 2px dodgerblue;
}

button {
  margin: 2px;
  background-color: cadetblue;
  color: white;
  padding: 5px 8px;
  border-radius: 2px;
}

button:hover, button:focus:hover {
  background-color: #75b3b5;
}

button:focus {
  margin: 0;
  border: 2px dodgerblue;
}

button:focus:hover:active {
  background-color: dodgerblue;
}

combo-box {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 2px;
  padding: 3px;
  margin: 2px;

  color: black;
}

combo-box:hover {
  border: 1px black;
}

combo-box:focus {
  border: 2px dodgerblue;
  margin: 1px;
}

combo-box > button, combo-box > button:hover, combo-box > button:focus, combo-box > button:active, combo-box > button:active {
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

combo-box-popup -flr-renderer > label {
  color: black;
  padding: 5px;
}

combo-box-popup -flr-renderer > label:active {
  background-color: dodgerblue;
  color: white;
}

combo-box-popup {
  background-color: white;
  border: 1px;
  border-color: #d7d7d7 #d3d3d3 #bfbfbf;
}

::selection {
  background-color: dodgerblue;
  color: white;
}

menubar {
  background-color: #0e0e0e33;
}

menuitem, menu {
  background-color: #e0e0e0;
  padding: 2px 3px;
}

menuitem:active, menu:active {
  background-color: #444444;
  color: white;
}

scrollbar {
  color: #888888DD
}

tooltip {
  background-color: #505050;
  color: white;
  font-size: 12px;
  padding: 5px;
}