text, formatted, textarea, password {
  background-color: green;
  border: 1px #848484;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;

  font-family: sans-serif;
  font-size: 12px;

  color: black;
}

text:hover, formatted:hover, textarea:hover, password:hover {
  border-color: black;
}

text:focus, formatted:focus, textarea:focus, password:focus {
  border-color: rgb(41, 163, 136);
}

root {
  background-color: white;
}

button {
  background-color: rgb(41, 163, 136);
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 2px;
}

button:hover {
  background-color: rgb(72, 184, 159);
}

.submit {
  background-color: #F43E4F;
}

.submit:hover {
  background-color: #F8616F;
}

.title {
  color: #848484;
  font-family: sans-serif;
  font-size: 20px;
}

.title:hover {
  color: rgb(41, 163, 136);
}

combo-box {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 2px;
  padding: 3px;

  color: white;
}

combo-box > button {
  background-color: rgb(72, 184, 159);
  border-radius: 2px;
}

combo-box label {
  color: black;
}

combo-box-popup -flr-renderer > label {
  color: black;
  padding: 5px;
}

combo-box-popup -flr-renderer > label:active {
  background-color: rgb(72, 184, 159);
  color: white;
}

combo-box-popup {
  background-color: #dddddd;
  padding: 0;
  border: 0;
}