textfield {
  background-color: #eeeeee;
  border: 1px #848484;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;

  font-family: sans-serif;
  font-size: 12px;

  color: black;
}

textfield:focus {
  border-color: rgb(41, 163, 136);
}

rootpane {
  background-color: white;
}

button {
  background-color: rgb(41, 163, 136);
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 2px;
}

button:hover {
  background-color: rgb(72, 184, 159);
}

.title {
  color: #848484;
  font-family: sans-serif;
  font-size: 20px;
}