/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

root, tooltip, popup {
  background-color: #ececec;
  color: #262626;
  font-size: 12px;
  font-family: sans-serif;
}

/* none - :hover */

button, button:hover {
  background-color: white;
  border: 1px solid;
  border-color: #d7d7d7 #d3d3d3 #bfbfbf;
  border-radius: 4px;
  margin: 2px;
  padding: 2px 12px;
  color: #262626;
}

text, text:hover, textarea, textarea:hover,
combobox, combobox:hover {
  background-color: #f8f8f8;
  border-color: #d7d7d7 #d3d3d3 #bfbfbf;
  border-radius: 4px;
  border-style: solid;
  padding: 3px;
  margin: 2px;
  border-width: 1px;
}

/* :focus */

button:focus, button:focus,
text:focus, textarea:focus, combobox:focus {
  border: 2px #91C8FF solid;
  margin: 1px;
}

/* :active */

button:active {
  background-color: #1e90ff;
  border: 1px dodgerblue solid;
  border-radius: 4px;
  margin: 2px;
  color: white;
}

button:disabled {
  background-color: #f6f6f6;
  color: #636363;
}

combobox > button, combobox > button:hover,
combobox > button:focus, combobox > button:active {
  border: none;
  margin: 0;
  padding: 0;
  background: dodgerblue;
  border-radius: 0 3px 3px 0;
}

combobox > text, combobox > text:hover,
combobox > text:focus, combobox > text:active {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

combobox button::icon {
  background-image: url("/reflare/icons/combobox.png");
  fill: white;
}

checkbox::icon {
  background-image: url("/reflare/icons/checkbox.png");
  fill: #444444;
}

checkbox:checked::icon {
  background-image: url("/reflare/icons/checkbox-checked.png");
  fill: dodgerblue;
}

radio::icon {
  background-image: url("/reflare/icons/radio.png");
  fill: #444444;
}

radio:checked::icon {
  background-image: url("/reflare/icons/radio-checked.png");
  fill: dodgerblue;
}

checkbox::icon {
  background-size: contain;
}

:disabled::icon {
  fill: #aaaaaa;
}

combobox-popup -flr-renderer > label, .list-cell {
  font-size: 12px;
  font-family: sans-serif;
  color: black;
  padding: 5px;
}

combobox-popup -flr-renderer > label:active, .list-cell:active {
  background-color: dodgerblue;
  color: white;
}

combobox-popup, popup {
  background-color: white;
  border: 1px solid;
  border-color: #d7d7d7 #d3d3d3 #bfbfbf;
}

::selection {
  background-color: dodgerblue;
  color: white;
}

menubar {
  background: linear-gradient(to bottom, #ececec, #d5d5d5);
}

menuitem, menu {
  background-color: white;
  padding: 4px 5px;
}

menuitem:hover, menuitem:active, menu:active {
  background-color: dodgerblue;
  color: white;
}

scrollbar > button, scrollbar > button:hover,
scrollbar > button:focus, scrollbar > button:active {
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: none;
}

scrollbar > button:active {
  background: dodgerblue;
}

tooltip {
  background-color: #505050;
  color: white;
  padding: 5px;
}

text.placeholder-text {
  padding: 8px 3px;
  font-size: 13px;
}

text.placeholder-text-filled {
  padding: 13px 3px 3px;
}

text.placeholder-text > label.placeholder-label {
  color: #777777;
  font-size: 13px;
  padding: 2px 0;
}

text.placeholder-text-filled > label.placeholder-label {
  font-size: 10px;
}

label.outlined-placeholder {
  color: #777777;
}

label.outlined-placeholder-active {
  color: dodgerblue;
  font-size: 10px;
  background: white;
}

th label {
  padding: 1px;
  border: #d3d3d3 1px solid;
  background: white;
}

table label {
  padding: 2px;
}

table label:active {
  color: white;
  background: dodgerblue;
}